# Frame produced by the simulations
*/frame*.*
# Build directory
build*/* 

*.mat
pngs/*
*.bin
.DS_Store
*.off

# Accuracy Evaluation Produced Files
AccuracyEvaluation/*.csv
AccuracyEvaluation/*.aux
AccuracyEvaluation/*.pdf
AccuracyEvaluation/*.log
AccuracyEvaluation/MergedBubbleLatticeDelta

# Files produced by clangd
.clangd/

# YouCompleteMe configuration file
.ycm_extra_conf.py

# Python compilation files
__pycache__/
